
build-iPhoneOS/
*.tgz
celerybeat-schedule
.spyproject
.pytest_cache/
.pnp.*
.vscode-test
lib64/
.installed.cfg
.eggs/
*.bridgesupport
coverage
pip-delete-this-directory.txt
/site
.pytype/
.spyderproject
/vendor/bundle
.rts2_cache_es/
venv.bak/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.seed
.yarn-integrity
venv/
.dynamodb/
/pkg/
pids
.parcel-cache
.coverage.*
**/.vitepress/cache
.stylelintcache
.cursorindexingignore*.gem
*.tsbuildinfo
/spec/reports/
downloads/
share/python-wheels/
lib/
*.egg
.venv
.pdm-build/
/InstalledFiles
.byebug_history
*.lcov
.env
*.pid
.ropeproject
.cursorignore
out
/.yardoc/
.eslintcache
.serverless/
.webassets-cache
MANIFEST
__pycache__/
.ipynb_checkpoints
sdist/
.env.local
lib-cov
jspm_packages/
dmypy.json
/test/version_tmp/
.pyre/
.dat*
.pdm-python
.docusaurus
.dmypy.json
.npm
.rts2_cache_cjs/
*.py,cover
.scrapy
*.sage.py
.lock-wscript
**/.vitepress/dist
*.pot
profile_default/
.pdm.toml
.tox/
local_settings.py
.pnpm-debug.log*
.hypothesis/
htmlcov/
.cache/
db.sqlite3
.next
yarn-debug.log*
build-iPhoneSimulator/
.fusebox/
cython_debug/
/lib/bundler/man/
docs/_build/
celerybeat.pid
*.egg-info/
*.log
*.cover
/spec/examples.txt
.cache
nosetests.xml
.yarn/build-state.yml
*.mo
*.py[cod]
/test/tmp/
.mypy_cache/
.yarn/unplugged
.env.production.local
.yarn/install-state.gz
ENV/
build/
.coverage
logs
coverage.xml
yarn-error.log*
.pypirc
develop-eggs/
/_yardoc/
instance/
*.pid.lock
.node_repl_history
.nox/
.rts2_cache_umd/
.pybuilder/
/.config
web_modules/
dist/
lerna-debug.log*
.ruff_cache/
node_modules/
.Python
.tern-port
.repl_history
*.spec
ipython_config.py
.rpt2_cache/
db.sqlite3-journal
.temp
*.so
*.manifest
/tmp/
/.bundle/
build/Release
.rvmrc
npm-debug.log*
__pypackages__/
.yarn/cache
var/
parts/
/coverage/
.grunt
.env.test.local
*$py.class
/doc/
env/
.nuxt
dist
.env.development.local
eggs/
pip-log.txt
*.rbc
bower_components
/rdoc/
.vuepress/dist
.nyc_output
wheels/
cover/
target/
env.bak/
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git ruby,python,node` for https://github.com/Sarverott/laughing-computing-machine.git with  [UNIXUSAT=1747621943294]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
